{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Flavor</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% set classes = ['table-primary', 'table-secondary', 'table-success', 'table-danger', 'table-warning', 'table-info'] %}
            {% for flavor in jelly_beans %}
            <tr class="{{ classes[loop.index % classes|length] }}"> 
                <th scope="row">{{ loop.index }}</th>
                <td>{{flavor}}</td>
                <td>
                    <form action="{{ url_for('edit', index=loop.index0) }}" style="display: inline;">
                        <button type="submit" class="btn btn-outline-secondary">Edit</button>
                    </form>
                    <form action="{{ url_for('delete', index=loop.index0) }}" style="display: inline;">
                        <button type="submit" class="btn btn-outline-secondary">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>      
{% endblock %}
